.Card {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  place-items: center;
  border-radius: 5px;
  border: 1px solid rgba(0,0,0, .05);

  &:hover{
    background-color: rgba(0,0,0, .02);;
  }

  &-image {
    width: 150px;
  }

  &-name {
    text-transform: capitalize;
  }
}